{% extends 'base.html' %} {% block title %}My Blog - Posts - {{ post.title }}{% endblock %} {% block content %}
<h1>{{ post.title }}</h1>
<small>By: <a href="{% url 'profile-detail' post.author %}">{{post.author}}</a> Created on {{post.date}} </small>{% if request.user == post.author %}<small><a href="{% url 'edit-post' post.pk %}">[edit] </a><a href="{% url 'delete-post' post.pk %}">[delete] </a></small>{% endif %}<br/>
<hr>
<br> {{ post.body }}

<br>
<br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a> {% endblock %}